<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-md-10 col-md-offset-1 wrapper">
  <h1 class="center">About</h1>
        <%= image_tag "alex-tortue.jpg", class: "square col-md-6 col-xs-12" %>
        <%= image_tag "alex2.jpg", class: "square col-md-6 col-xs-12" %>

  <p>
    Alex Vaca likes Bitcoins of course! But also, he likes to drink and to make people drink since he is a little boy. From this passion, he decided to
    become a bar tender in Majorca, this beautiful paradisiac place in Spain full of authentic and local people.
  </p>
  <p>
    He is able to make 89 different cocktails and he knows more than 143 alcohols. So if he doesn't manage to become a Ruby developer or bitcoins expert, he still has a solid potential to make cocktails. Here you can discover some of his secrets...
  </p>



  <h1 class="center">Cocktails</h1>

  <div class="center" style="width:100%">
    <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-danger" %>
    <%= link_to 'New Ingredient', new_ingredient_path, class: "btn btn-primary" %>
  </div>


  <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-md-6 ">
    <% if cocktail.photo? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
    <% else %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "alex.jpg", height: 300, width: 400, crop: :fill %>');">
    <% end %>


        <div class="card-category">
          <%= cocktail.name %> (<%= cocktail.doses.count %> ingrédients)
          <%= link_to edit_cocktail_path(cocktail) do %>
            <i class="fa fa-pencil-square-o white" aria-hidden="true"></i>
          <% end %>

        </div>
        <div class="card-description">
          <h2>Ingrédients</h2>
          <% cocktail.doses.each do |dose| %>
            <li><%= dose.description %> de <%= dose.ingredient.name %></li>
          <% end %>
          <p>
            <%= link_to 'Show cocktail', cocktail, class: "btn btn-success" %>
            <%= link_to 'Add ingredient', new_cocktail_dose_path(cocktail), class: "btn btn-primary" %>
          </p>
        </div>
        <img class="card-user" src="https://i.skyrock.net/8961/4258961/pics/72820669.jpg">
      </div>
    </div>


  <% end %>

</div>
